<main>
    <section class="content">
        <div class="cim">
            <h2>Kapcsolat</h2>
        </div>
        <p>
            Közműsorszolgáltatóként a Hegyvidék Televízió korszerű, a helyi igényekhez igazodó, azokat kiszolgáló <br>
            műsorstruktúrájával közvetítő szerepet tölt be a lakosság, az önkormányzat, <br>
            a közhivatalok és a civil szervezetek között.
        </p>

        <p class="bold">A Hegyvidék TV 24 órán keresztül tájékoztatja a lakosokat a hét minden napján.</p>

        <p>
            Hétköznap reggelenként 7 és 10 óra között útfigyelő kameránk segítségével időjárás jelentéstés közlekedési információt <br>
            szolgáltatunk, 10 órától 15 óráig az esti műsorokat ismételjük meg, 15 és 19 óra között pedig a Képújság oldalain <br>
            tájékoztatjuk a nézőket. Főműsoridőben 19 és 22 óra között híreket, stúdióbeszélgetéseket, <br>
            színes helyi riportokat, képes összefoglaló anyagokat sugárzunk.
        </p>

        <div class="kapcsolat">
            <div class="terkep">
                <div class="google">
                    <!-- <img src="/assets/images/google-maps.png" alt="Google Maps"> -->
                    <iframe width="440" height="210" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBlWX07P1BFiWH8R0XZYwYCMtdbhIiw4_A
                        &q=Hajnóczy+József+utca+2,Budapest" allowfullscreen>
                    </iframe>
                </div>
                <div class="elerhetosegeink">
                    <div class="cim">
                        <h2 class="elerhetoseg-cim">Elérhetőség</h2>
                    </div>
                    <address>
                        <span class="bold">Hegyvidék Televízió</span><br>
                        1122 Budapest, Hajnóczy József utca 2.
                    </address>
                    <div class="telefon">
                        <p class="elerhetoseg">Telefon:</p><p class="elerhetoseg">+36 1 781 1787</p>
                    </div>
                    <div class="mobil">
                        <p class="elerhetoseg">Mobil:</p><p class="elerhetoseg">+36 20 501 9828</p>
                    </div>
                    <div class="email">
                        <p class="elerhetoseg">Email:</p><p class="elerhetoseg">htv@hegyvidektv.hu</p>
                    </div>
                </div>
            </div>
            <div class="uzenet">
                <p class="irjon-nekunk bold">Írjon Nekünk!</p>
                <form class="form-ujuyenet" (ngSubmit)="kuldes()">
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="label">Név:</label>
                                <div class="control">
                                    <input id="nev" name="nev" class="input" type="text" [(ngModel)]="uzenet.nev" value="{{ uzenet.nev }}">
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label class="label">E-mail cím:</label>
                                <div class="control">
                                    <input id="email" name="email" class="input" type="email" [(ngModel)]="uzenet.email" value="{{ uzenet.email }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Tárgy:</label>
                        <div class="control">
                            <input id="targy" name="targy" class="input" type="text" [(ngModel)]="uzenet.targy" value="{{ uzenet.targy }}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Levél:</label>
                        <div class="control">
                            <textarea class="textarea" [(ngModel)]="uzenet.level" id="level" name="level" value="{{ uzenet.level }}" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="kuldes control">
                        <button class="kuldes button is-link">Küldés</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>