/* You can add global styles to this file, and also import other style files */

html, body{
    margin: 0;
    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

.htv {
    background-image: url('./assets/images/htv_bg.png');
    background-position: center;
    background-size: cover;
}

.logo {
    width: 240px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url('./assets/images/htv_logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

.facebook {
    background-image: url('./assets/images/facebook.png');
}

.facebook-invert {
    background-image: url('./assets/images/facebook-invert.png');
}

.facebook:hover, .facebook-invert:hover, .facebook-color {
    background-image: url('./assets/images/facebook-color.png');
}

.facebook-color:hover {
    background-image: url('./assets/images/facebook.png');
}

.youtube {
    background-image: url('./assets/images/youtube.png');
}

.youtube-invert {
    background-image: url('./assets/images/youtube-invert.png');
}

.youtube:hover, .youtube-invert:hover, .youtube-color {
    background-image: url('./assets/images/youtube-color.png');
}

.youtube-color:hover {
    background-image: url('./assets/images/youtube.png');
}

.facebook, .facebook-invert, .facebook-color, .youtube, .youtube-invert, .youtube-color {
    width: 31px;
    height: 31px;
}

/* PARTNEREK */

a.hegyvidek-partner.hegyvidek {
    background-image: url('./assets/images/hegyvidek.jpg');
}

a.hegyvidek-partner.hegyvidek:hover {
    background-image: url('./assets/images/hegyvidek-hover.jpg');
}

a.hegyvidek-partner.hegyvidekkartya {
    background-image: url('./assets/images/hegyvidekkartya.jpg');
}

a.hegyvidek-partner.hegyvidekkartya:hover {
    background-image: url('./assets/images/hegyvidekkartya-hover.jpg');
}

a.hegyvidek-partner.momkult {
    background-image: url('./assets/images/momkult.jpg');
}

a.hegyvidek-partner.momkult:hover {
    background-image: url('./assets/images/momkult-hover.jpg');
}

a.hegyvidek-partner.hegyvidekujsag {
    background-image: url('./assets/images/hegyvidekujsag.jpg');
}

a.hegyvidek-partner.hegyvidekujsag:hover {
    background-image: url('./assets/images/hegyvidekujsag-hover.jpg');
}

a.hegyvidek-partner.hegyvideksport {
    background-image: url('./assets/images/hegyvideksport.jpg');
}

a.hegyvidek-partner.hegyvideksport:hover {
    background-image: url('./assets/images/hegyvideksport-hover.jpg');
}

a.hegyvidek-partner.pokornizoltan {
    background-image: url('./assets/images/pokornizoltan.jpg');
}

a.hegyvidek-partner.pokornizoltan:hover {
    background-image: url('./assets/images/pokornizoltan-hover.jpg');
}

a.hegyvidek-partner.vaczijanos {
    background-image: url('./assets/images/vaczijanos.jpg');
}

a.hegyvidek-partner.vaczijanos:hover {
    background-image: url('./assets/images/vaczijanos-hover.jpg');
}

a.hegyvidek-partner.momsport {
    background-image: url('./assets/images/momsport.jpg');
}

a.hegyvidek-partner.momsport:hover {
    background-image: url('./assets/images/momsport-hover.jpg');
}