<div class="hirek">
  <p class="marquee"><span [ngStyle]="{animation: text}">
    A legfrissebb hírek és aktualitások olvashatóak itt egy folyamatosan jobbról balra úszó szövegfolyamként.   |   
    A legfrissebb hírek és aktualitások olvashatóak itt egy folyamatosan jobbról balra úszó szövegfolyamként.   |   
    A legfrissebb hírek és aktualitások olvashatóak itt egy folyamatosan jobbról balra úszó szövegfolyamként.   |   
    A legfrissebb hírek és aktualitások olvashatóak itt egy folyamatosan jobbról balra úszó szövegfolyamként.   |   
    A legfrissebb hírek és aktualitások olvashatóak itt egy folyamatosan jobbról balra úszó szövegfolyamként.   |   
    A legfrissebb hírek és aktualitások olvashatóak itt egy folyamatosan jobbról balra úszó szövegfolyamként.   |   
  </span></p>
</div>