<main>
  <section class="content">
    <div class="musor">
      <div class="media"></div>
      <div class="details">
        <h1 class="cim">Budai Híradó</h1>
        <div class="szoveg">
          <h2 class="alcim">Friss hírek, interjúk, aktualitások a Hegyvidéken és a Fővárosban. Hiteles, gyors tájékoztatás.</h2>
          <p class="bold">BUDAI HÍRADÓ   |   2018. február. 16.</p>
          <p class="tartalom">Tartalom:</p>
          <p>
            Több férőhely, barátságosabb környezet  - Új óvoda épül Pesthidegkúton
            <br><br>
            Rövidebb várólisták - A sugárterápiás eszközök cseréjének köszönhetően, 
            csökkent a várakozási idő az Onkológiai Intézetben 
            <br><br>
            Játszani jó! - Társasjáték kiállítás a Kiscelli Múzeumban
          </p>
        </div>
      </div>
    </div>

    <app-regebbi-videok></app-regebbi-videok>
  </section>
</main>