<main>
  <section class="content">
    <div *ngIf="musor" class="musor">
      <div class="media">
        <iframe width="100%" height="100%" [src]="('https://www.youtube.com/embed/' + musor.epizodok[0].youtube) | youtubeEmbed" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="details">
        <h1 class="cim">{{ musor.cim }}</h1>
        <div class="szoveg">
          <h2 class="alcim">{{ musor.leiras }}</h2>
          <p class="bold">{{ musor.epizodok[0].cim | uppercase }}   |   {{ musor.epizodok[0].datum | datum }}</p>
          <p class="tartalom-cim">Tartalom:</p>
          <p class="tartalom" [innerHTML]="musor.epizodok[0].leiras"></p>
        </div>
      </div>
    </div>

    <app-regebbi-videok [epizodok]="musor.epizodok" *ngIf="musor"></app-regebbi-videok>
  </section>
</main>