<div class="content">
  <div class="cim">
    <h2>Kiemelt videók</h2>
  </div>

  <div class="videok">
    <div class="video">
      <div class="kep"></div>
      <h3 class="szalagcim">SZALAGCÍM</h3>
      <div class="tartalom">
        <p>Bővebb információ a videó tartalmáról, akár több soron keresztül.</p>
      </div>
    </div>

    <div class="video">
      <div class="kep"></div>
      <h3 class="szalagcim">SZALAGCÍM</h3>
      <div class="tartalom">
        <p>Bővebb információ a videó tartalmáról, akár több soron keresztül.</p>
      </div>
    </div>

    <div class="video">
      <div class="kep"></div>
      <h3 class="szalagcim">SZALAGCÍM</h3>
      <div class="tartalom">
        <p>Bővebb információ a videó tartalmáról, akár több soron keresztül.</p>
      </div>
    </div>

    <div class="video">
      <div class="kep"></div>
      <h3 class="szalagcim">SZALAGCÍM</h3>
      <div class="tartalom">
        <p>Bővebb információ a videó tartalmáról, akár több soron keresztül.</p>
      </div>
    </div>
  </div>
</div>