<div class="content">
  <div class="cim">
    <h1>Kiemelt videók</h1>
  </div>

  <div class="videok">
    <div class="video">
      <div class="kep"></div>
      <div class="szalagcim">SZALAGCÍM</div>
      <div class="tartalom">
        <p>Bővebb információ a videó tartalmáról, akár több soron keresztül.</p>
      </div>
    </div>

    <div class="video">
      <div class="kep"></div>
      <div class="szalagcim">SZALAGCÍM</div>
      <div class="tartalom">
        <p>Bővebb információ a videó tartalmáról, akár több soron keresztül.</p>
      </div>
    </div>

    <div class="video">
      <div class="kep"></div>
      <div class="szalagcim">SZALAGCÍM</div>
      <div class="tartalom">
        <p>Bővebb információ a videó tartalmáról, akár több soron keresztül.</p>
      </div>
    </div>

    <div class="video">
      <div class="kep"></div>
      <div class="szalagcim">SZALAGCÍM</div>
      <div class="tartalom">
        <p>Bővebb információ a videó tartalmáról, akár több soron keresztül.</p>
      </div>
    </div>
  </div>
</div>