.content {
    width: 870px;
    padding: 5px;
    background-color: #a7d153;
}

.cim {
    display: flex;
    justify-content: space-between;
    color: white;
    padding-left: 5px;
    padding-top: 5px;
}

h2 {
    color: white;
    font-size: 20px;
    font-family: "Arial", "Helvetica", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    margin-bottom: unset;
}

.felso.lapozas {
    width: 220px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: "Arial", "Helvetica", "Helvetica Neue", sans-serif;
    padding-right: 5px;
}

.felso.lapozas .separator {
    width: 2px;
    height: 18px;
    margin: 0 10px;
    background-color: #a7d153;;
}

.felso.lapozas .ujabb, .felso.lapozas .regebbi {
    width: 45%;
    text-align: right;
}

.lapozas span {
    cursor: pointer;
}

.videok {
    display: flex;
    flex-wrap: wrap;
    color: black;
    padding-top: 5px;
}

.video {
    width: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.video .kep {
    width: 100%;
    max-height: 236px;
    background-color: black;
    cursor: pointer;
}

.video .kep img {
    min-width: 100%;
}

.video .szoveg {
    flex: 1;
    background-color: white;
    padding: 10px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.szoveg > h3.szalagcim {
    color: black;
    font-size: 18px;
    margin: unset;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Arial", "Helvetica", "Helvetica Neue", sans-serif;
}

.szoveg > .tartalom {
    flex: 1;
    font-size: 16px;
    line-height: 1.25em;
}

.datum {
    text-align: right;
}

.content > .lapozas {
    display: flex;
    justify-content: space-between;
    font-family: "Arial", "Helvetica", "Helvetica Neue", sans-serif;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}