<div class="idojaras">
    <p>&nbsp;</p>
    <ul>
        <li>
            <p class="nap">{{ nap1 }}</p>
            <img src="http://openweathermap.org/img/w/{{ idojaras?.list[0].weather[0].icon }}.png" title="{{ idojaras?.list[0].weather[0].description }}">
            <p class="fok">{{ idojaras?.list[0].temp.day }} &#8451;</p>

        </li>
        <li>
            <p class="nap">{{ nap2 }}</p>
            <img src="http://openweathermap.org/img/w/{{ idojaras?.list[1].weather[0].icon }}.png" title="{{ idojaras?.list[1].weather[0].description }}">
            <p class="fok">{{ idojaras?.list[1].temp.day }} &#8451;</p>
        </li>
        <li>
            <p class="nap">{{ nap3 }}</p>
            <img src="http://openweathermap.org/img/w/{{ idojaras?.list[2].weather[0].icon }}.png" title="{{ idojaras?.list[2].weather[0].description }}">
            <p class="fok">{{ idojaras?.list[2].temp.day }} &#8451;</p>
        </li>
        <li>
            <p class="nap">{{ nap4 }}</p>
            <img src="http://openweathermap.org/img/w/{{ idojaras?.list[3].weather[0].icon }}.png" title="{{ idojaras?.list[3].weather[0].description }}">
            <p class="fok">{{ idojaras?.list[3].temp.day }} &#8451;</p>
        </li>
    </ul>
</div>