<div class="content">
  <div class="partnerek columns">
    <div class="partner column">
      <a class="hegyvidek-partner hegyvidek" href="http://hegyvidek.hu"></a>
    </div>
    <div class="partner column">
      <a class="hegyvidek-partner hegyvidekkartya" href="http://hegyvidekkartya.hu"></a>
    </div>
    <div class="partner column">
      <a class="hegyvidek-partner momkult" href="http://momkult.hu"></a>
    </div>
    <div class="partner column">
      <a class="hegyvidek-partner hegyvidekujsag" href="http://hegyvidekujsag.hu"></a>
    </div>
    <div class="partner column">
      <a class="hegyvidek-partner hegyvideksport" href="http://hegyvideksport.hu"></a>
    </div>
    <div class="partner column">
      <a class="hegyvidek-partner pokornizoltan" href="http://pokornizoltan.hu"></a>
    </div>
    <div class="partner column">
      <a class="hegyvidek-partner vaczijanos" href="http://vaczijanos.blog.hu"></a>
    </div>
    <div class="partner column">
      <a class="hegyvidek-partner momsport" href="http://momsport.hu"></a>
    </div>
  </div>
</div>