<div class="content">
  <div class="partnerek columns">
    <div class="partner column">
      <a href="http://hegyvidek.hu"><img class="partner" src="./assets/images/hegyvidek.png" alt="Hegyvidek"></a>
    </div>
    <div class="partner column">
      <a href="http://hegyvidekkartya.hu"><img class="partner" src=".//assets/images/hegyvidekkartya.png" alt="Hegyvidekkartya"></a>
    </div>
    <div class="partner column">
      <a href="http://momkult.hu"><img class="partner" src="./assets/images/momkult.png" alt="Momkult"></a>
    </div>
    <div class="partner column">
      <a href="http://hegyvidekujsag.hu"><img class="partner" src="./assets/images/hegyvidekujsag.png" alt="Hegyvidekujsag"></a>
    </div>
    <div class="partner column">
      <a href="http://hegyvideksport.hu"><img class="partner" src="./assets/images/hegyvideksport.png" alt="Hegyvideksport"></a>
    </div>
    <div class="partner column">
      <a href="http://pokornizoltan.hu"><img class="partner" src="./assets/images/pokornizoltan.png" alt="Pokorni Zoltan"></a>
    </div>
    <div class="partner column">
      <a href="http://vaczijanos.blog.hu"><img class="partner" src="./assets/images/vaczijanos.png" alt="Vaczi Janos"></a>
    </div>
    <div class="partner column">
      <a href="http://momsport.hu"><img class="partner" src="./assets/images/momsport.png" alt="Momsport"></a>
    </div>
  </div>
</div>