.content {
    display: flex;
    justify-content: center;
    /* padding-top: 50px; */
}

.partnerek.columns {
    width: 1280px;
    padding: unset;
    margin: unset;
    margin-bottom: unset;
    background-color: white;
}

.partner.column {
    padding: unset;
    margin: unset;
    margin-bottom: unset;
    height: 200px;
}

.partner.column a {
    display: flex;
    height: 100%;
}

img.partner {
    width: 100%;
    height: auto;
}