.content {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.partnerek.columns {
    width: 1280px;
    padding: unset;
    margin: unset;
    margin-bottom: unset;
    background-color: #a7d153;
}

.partner.column {
    padding: unset;
    margin: unset;
    margin-bottom: unset;
}

.partner.column > a {
    display: flex;
}

.partner.column > a:hover {
    opacity: 0.75;
}

img.partner {
    width: 100%;
    height: auto;
}