<div class="content">
  <div class="partnerek columns">
    <div class="partner column">
      <a class="hegyvidek-partner hegyvidek" href="http://hegyvidek.hu" title="A Hegyvidék oldala."></a>
    </div>
    <div class="partner column">
      <a class="hegyvidek-partner hegyvidekkartya" href="http://hegyvidekkartya.hu" title="Igényeljen hegyvidék kártyát."></a>
    </div>
    <div class="partner column">
      <a class="hegyvidek-partner momkult" href="http://momkult.hu" title="Tekintse meg a MoM Kultúrális központ oldalát."></a>
    </div>
    <div class="partner column">
      <a class="hegyvidek-partner hegyvidekujsag" href="http://hegyvidekujsag.hu" title="Olvassa a hegyvidék újságot."></a>
    </div>
    <div class="partner column">
      <a class="hegyvidek-partner hegyvideksport" href="http://hegyvideksport.hu" title="Sportoljon a Hegyvidéken."></a>
    </div>
    <div class="partner column">
      <a class="hegyvidek-partner pokornizoltan" href="http://pokornizoltan.hu" title="Tekintse meg Pokorni Zoltán oldalát."></a>
    </div>
    <div class="partner column">
      <a class="hegyvidek-partner vaczijanos" href="http://vaczijanos.blog.hu" title="Tekintse meg Váczi János blog oldalát."></a>
    </div>
    <div class="partner column">
      <a class="hegyvidek-partner momsport" href="http://momsport.hu" title="Sportoljon a MoM Kultúrális Központban."></a>
    </div>
  </div>
</div>