<main>
  <section class="content">
    <form #f="ngForm" (ngSubmit)="belepes(f.value)">
      <div class="field">
        <label class="label">Email cím</label>
        <div class="control">
            <input class="input" type="email" name="email" ngModel placeholder="Email">
        </div>
      </div>
      <div class="field">
        <label class="label">Jelszó</label>
        <div class="control">
          <input class="input" type="password" name="password" ngModel placeholder="Jelszó">
        </div>
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-success">
            Belépés
          </button>
        </p>
      </div>
    </form>
  </section>
</main>