<header>
  <div class="container">
    <div class="logo">
      <time class="pontosido" #ido></time>
    </div>
    <div class="contents">
      <div class="felso">
        <div class="cim">
          <h1><span>Hegyvidék</span> Televízió</h1>
          <h2>A Hegyvidék TV 24 órán keresztül tájékoztatja a lakosságot a hét minden napján.</h2>
        </div>
        <div class="linkek">
          <div class="social">
            <a href="{{facebookLink}}"><div class="facebook"></div></a>
            <!-- <div class="facebook-like">
              <div class="fb-like" data-href="https://www.facebook.com/hegyvidektelevizio/" data-width="115" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
            </div> -->
            <a class="youtube-link" href="{{youtubeLink}}"><div class="youtube"></div></a>
            <!-- <div class="yt-subscribe">
              <div class="g-ytsubscribe" data-channel="hegyvidektv" data-layout="default" data-count="default"></div>
            </div> -->
          </div>
          <div class="hegyvidek-radio">
            <p class="radio">Hegyvidék Rádió</p>
            <a href="http://www.hegyvidekradio.hu/">
              <img class="hegyvidekradio-kep" src="./assets/images/hegyvidek-radio.jpg" alt="Hegyvidék Rádió">
            </a>
          </div>
          <div class="kereses">
            <input class="kereses input" type="text" placeholder="Írja ide a keresett kifejezést!">
            <button class="kereses button">Keresés</button>
          </div>
        </div>
      </div>
      <div class="also">
        <app-menu class="menu"></app-menu>
      </div>
    </div>
    <app-idojaras class="idojaras"></app-idojaras>
  </div>

  <app-hirek-scroller class="hirek-scroller"></app-hirek-scroller>
</header>