header {
    width: 100%;
    height: 195px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 999;
}

/* .logo {
    width: 240px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url('../assets/images/htv_logo.png');
    background-repeat: no-repeat;
    background-position: center;
} */

time.pontosido {
    font-size: 20px;
    padding-right: 15px;
    padding-bottom: 5px;
    color: #1f50ba;
    font-family: sans-serif;
}

.idojaras {
    width: 120px;
}

.container {
    width: 1280px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.contents {
    width: 920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
}

.felso {
    /* height: 90px; */
    flex: 1;
    display: flex;
}

.cim {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1f50ba;
    margin-top: 20px;
}

.cim > h2 {
    color: black;
}

.linkek {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.social {
    display: flex;
    /* justify-content: flex-end; */
    margin-left: 50%;
    padding-left: 10px;
}

.facebook-like, .yt-subscribe {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 10px;
}

.facebook, .youtube {
    width: 31px;
    height: 31px;
}

.youtube-link {
    padding-left: 10px;
}

.hegyvidek-radio {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    margin-left: 50%;
    padding-left: 10px;
    padding-bottom: 5px;
}

img.hegyvidekradio-kep {
    padding-left: 10px;
}

.hegyvidek-radio:hover {
    opacity: 0.75;
}

p.radio {
    font-size: 20px;
    color: black;
    /* padding-bottom: 15px; */
}

.kereses {
    /* width: 50%; */
    display: flex;
}

.kereses.input {
    height: 40px;
    flex: 1;
    border: 2px solid #1f50ba;
    border-radius: unset;
}

.kereses.button {
    height: 40px;
    width: 145px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #1f50ba;
    text-transform: uppercase;
    padding: unset;
    border: unset;
    border-radius: unset;
}

.kereses.button:hover {
    color: #1f50ba;
    border: 2px solid #1f50ba;
    border-left: unset;
    background-color: white;
}

.linkek {
    width: 50%;
}

.also {
    /* height: 80px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu {
    width: 100%;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 30px;
}

h1 > span {
    font-weight: bold;
}

h2 {
    font-size: 12px;
}

.hirek-scroller {
    height: 20px;
    width: 1280px;
    color: black;
}