<header>
  <div class="container">
    <a href="/" class="logolink">
      <div class="logo">
        <time class="pontosido" #ido></time>
      </div>
    </a>
    <div class="contents">
      <div class="felso">
        <div class="cim">
          <h1><span>Hegyvidék</span> Televízió</h1>
          <h2>A Hegyvidék TV 24 órán keresztül tájékoztatja a lakosságot a hét minden napján.</h2>
        </div>
        <div class="linkek">
          <div class="social-radio">
            <div class="social">
              <a href="{{facebookLink}}"><div class="facebook"></div></a>
              <a class="youtube-link" href="{{youtubeLink}}"><div class="youtube"></div></a>
            </div>
            <!-- <div class="hegyvidek-radio">
              <p class="radio">Hegyvidék Rádió</p>
              <a href="http://www.hegyvidekradio.hu/">
                <img class="hegyvidekradio-kep" src="./assets/images/hegyvidek-radio.jpg" alt="Hegyvidék Rádió">
              </a>
            </div> -->
          </div>
          <div class="kereses">
            <input #kereses class="kereses input" type="search" placeholder="Írja ide a keresett kifejezést!">
            <button routerLink="/kereses/{{ kereses.value }}" routerLinkActive="active" class="kereses button">Keresés</button>
          </div>
        </div>
      </div>
      <div class="also">
        <app-menu class="menu"></app-menu>
      </div>
    </div>
    <app-idojaras class="idojaras"></app-idojaras>
  </div>

  <app-hirek-scroller class="hirek-scroller"></app-hirek-scroller>
</header>