<header>
  <div class="container">
    <div class="logo">
      <time class="pontosido" #ido></time>
    </div>
    <div class="contents">
      <div class="felso">
        <div class="cim">
          <h1><span>Hegyvidék</span> Televízió</h1>
          <h2>A Hegyvidék TV 24 órán keresztül tájékoztatja a lakosságot a hét minden napján.</h2>
        </div>
        <div class="linkek">
          <div class="social">
            <a href="{{facebookLink}}"><div class="facebook"></div></a>
            <a href="{{youtubeLink}}"><div class="youtube"></div></a>
          </div>
          <div class="hegyvidek-radio">
            <p class="radio">Hegyvidék Rádió</p>
            <a href="http://www.hegyvidekradio.hu/">
              <img class="hegyvidekradio-kep" src="/assets/images/hegyvidek-radio.png" alt="Hegyvidék Rádió">
            </a>
          </div>
        </div>
      </div>
      <div class="also">
        <div class="kereses">
          <input class="kereses input" type="text" placeholder="Írja ide a keresett kifejezést!">
          <button class="kereses button">Keresés</button>
        </div>
        <app-menu class="menu"></app-menu>
      </div>
    </div>
    <app-idojaras class="idojaras"></app-idojaras>
  </div>

  <app-hirek-scroller class="hirek-scroller"></app-hirek-scroller>
</header>