<main>
  <section class="content">
    <section class="main">
      <app-admin-menu></app-admin-menu>

      <div class="uj-hir">
        <form class="form-ujhir" #f="ngForm" (ngSubmit)="ujMusor(f.value)">
          <h2 class="title">Új műsor hozzáadása</h2>

          <div class="field is-grouped">
            <p class="control is-expanded">
              <label class="label">Műsor címe</label>
              <input id="cim" name="cim" [(ngModel)]="musor.cim" class="input" type="text" placeholder="Műsor címe">
            </p>
            <p class="control is-expanded">
              <label class="label">Beszédes URL</label>
              <input type="text" id="url" name="url" [(ngModel)]="musor.url" class="input" placeholder="Beszédes URL" required>
            </p>
            <div class="control">
              <label class="label">Státusz</label>
              <div class="select">
                <select id="statusz" [(ngModel)]="musor.statusz" name="statusz">
                  <option value="aktiv" [attr.selected]="musor.statusz === 'aktív' ? true : false">Aktív</option>
                  <option value="inaktiv" [attr.selected]="musor.statusz === 'inaktív' ? true : false">Inaktív</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <label class="label">Műsor képe</label>
              <div class="field">
                <div class="file is-primary has-name is-boxed">
                  <label class="file-label">
                    <input class="file-input" type="file" name="photo" ng2FileSelect [uploader]="uploader">
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-cloud-upload-alt"></i>
                      </span>
                      <span class="file-label">
                        Feltöltés
                      </span>
                    </span>
                    <span class="file-name">
                      Screen Shot 2017-07-29 at 15.54.25.png
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="control is-expanded">
              <label class="label">Kép</label>
              <figure class="image is-16by9">
                <img [attr.src]="kep">
              </figure>
            </div>
            <div class="control is-expanded">
              <label class="label">Műsor leírása</label>
              <textarea class="textarea" [(ngModel)]="musor.leiras" id="leiras" name="leiras" placeholder="e.g. Hello world"></textarea>
            </div>
          </div>
          <div class="field is-grouped">
            <!-- button to trigger the file upload when submitted -->
            <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
              Upload with ng-2 file uploader
            </button>
            <p class="control is-expanded">
              <button class="save button is-success" type="submit">Mentés</button>
            </p>
          </div>
        </form>
      </div>
    </section>

    <!-- File input for the file-upload plugin, with special ng2-file-upload directive called ng2FileSelect -->
    <!-- <input type="file" name="photo" ng2FileSelect [uploader]="uploader" /> -->

  </section>
</main>