<div class="menu columns">
  <div class="menu column">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="menu button">Élő Adás</a>
  </div>
  <div class="menu column">
    <div class="menu dropdown is-hoverable">
      <div class="dropdown-trigger">
        <a routerLink="/musoraink" routerLinkActive="active" class="menu button" aria-haspopup="true" aria-controls="dropdown-menu4">Műsoraink</a>
      </div>
      <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
          <div class="dropdown-item">
            <ul>
              <li>
                <a href="/">Műsorújság</a>
              </li>
              <li><a href="#">Alfa és Omega</a></li>
              <li><a href="#">Budai Híradó</a></li>
              <li><a href="#">Budai Magazin</a></li>
              <li><a href="#">Duett</a></li>
              <li><a href="#">Hegylakó Magazin</a></li>
              <li><a href="#">Hírek</a></li>
              <li><a href="#">Kalandozó</a></li>
              <li><a href="#">Kék Hírek</a></li>
              <li><a href="#">Képújság</a></li>
              <li><a href="#">Kommentár Nélkül</a></li>
              <li><a href="#">Kultúrpont</a></li>
              <li><a href="#">Lélekemelő</a></li>
              <li><a href="#">Minőségi Idő</a></li>
              <li><a href="#">Ökopakk</a></li>
              <li><a href="#">Paragrafus</a></li>
              <li><a href="#">Pénz-Tárca</a></li>
              <li><a href="#">Útinform</a></li>
              <li><a href="#">Ziccer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu column">
    <a routerLink="/kapcsolat" routerLinkActive="active" class="menu button">Kapcsolat</a>
  </div>
  <div class="menu column">
    <a routerLink="/mediaajanlat" routerLinkActive="active" class="menu button">Médiaajánlat</a>
  </div>
</div>