.menu.button, .menu.dropdown, .dropdown-trigger {
    width: 100%;
}

.menu.columns {
    margin: unset;
}

.menu.column {
    padding: unset;
}

.menu.button {
    height: 40px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #a7d153;
    color: white;
    border: unset;
    border-radius: unset;
    padding: unset;
}

.menu.button:hover, .menu.button:active, .menu.button:focus, .menu.button.active {
    background-color: #1f50ba;
}

.button:focus:not(:active), .button.is-focused:not(:active) {
    box-shadow: unset;
}

.dropdown-menu {
    width: 184px;
    padding-top: unset;
}

.dropdown-content {
    padding-top: unset;
    padding-bottom: unset;
}

.dropdown-item {
    color: #1f50ba;
    padding: unset;
}

li > a {
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-align: center;
}

li > a:hover {
    color: white;
    background-color: #1f50ba;
}

/* li:first-child {
    padding-top: 15px;
    padding-bottom: 20px
} */

.active {
    color: white;
    background-color: #1f50ba;
}