<div class="menu columns">
  <div class="menu column">
    <a href="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="menu button">Élő Adás</a>
  </div>
  <div class="menu column">
    <div class="menu dropdown is-hoverable">
      <div class="dropdown-trigger">
        <a routerLink="/musoraink" routerLinkActive="active" class="menu button" aria-haspopup="true" aria-controls="dropdown-menu4">Műsoraink</a>
      </div>
      <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
          <div class="dropdown-item">
            <ul>
              <li>
                <a routerLink="/musoraink" routerLinkActive="active">Műsorújság</a>
              </li>
              <li><a routerLink="/musoraink/musor" routerLinkActive="active">Alfa és Omega</a></li>
              <li><a routerLink="/musoraink/musor" routerLinkActive="active">Budai Híradó</a></li>
              <li><a routerLink="/musoraink/musor" routerLinkActive="active">Budai Magazin</a></li>
              <li><a routerLink="/musoraink/musor" routerLinkActive="active">Duett</a></li>
              <li><a routerLink="/musoraink/musor" routerLinkActive="active">Hegylakó Magazin</a></li>
              <li><a routerLink="/musoraink/musor" routerLinkActive="active">Hírek</a></li>
              <li><a routerLink="/musoraink/musor" routerLinkActive="active">Kalandozó</a></li>
              <li><a routerLink="/musoraink/musor" routerLinkActive="active">Kék Hírek</a></li>
              <li><a routerLink="/musoraink/musor" routerLinkActive="active">Képújság</a></li>
              <li><a routerLink="/musoraink/musor" routerLinkActive="active">Kommentár Nélkül</a></li>
              <li><a routerLink="/musoraink/musor" routerLinkActive="active">Kultúrpont</a></li>
              <li><a routerLink="/musoraink/musor" routerLinkActive="active">Lélekemelő</a></li>
              <li><a routerLink="/musoraink/musor" routerLinkActive="active">Minőségi Idő</a></li>
              <li><a routerLink="/musoraink/musor" routerLinkActive="active">Ökopakk</a></li>
              <li><a routerLink="/musoraink/musor" routerLinkActive="active">Paragrafus</a></li>
              <li><a routerLink="/musoraink/musor" routerLinkActive="active">Pénz-Tárca</a></li>
              <li><a routerLink="/musoraink/musor" routerLinkActive="active">Útinform</a></li>
              <li><a routerLink="/musoraink/musor" routerLinkActive="active">Ziccer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu column">
    <a routerLink="/kapcsolat" routerLinkActive="active" class="menu button">Kapcsolat</a>
  </div>
  <div class="menu column">
    <a routerLink="/mediaajanlat" routerLinkActive="active" class="menu button">Médiaajánlat</a>
  </div>
</div>