main {
    display: flex;
    justify-content: center;
}

section.content {
    width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: rgba(255,255,255,0.25);
    margin-top: 180px;
}

.cim {
    display: flex;
    color: #1f50ba;
    padding: 30px 0;
}

.musoraink-cim {
    width: 200px;
}

h2 {
    color: #1f50ba;
    font-size: 20px;
    line-height: 20px;
    font-family: "Arial", "Helvetica", "Helvetica Neue", sans-serif;
    border: 2px solid #1f50ba;
    text-transform: uppercase;
    margin-bottom: unset;
    text-align: center;
    padding: 10px 30px;
}

.cim > p {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: "Arial", "Helvetica", "Helvetica Neue", sans-serif;
    margin-bottom: unset;
    padding: 0 10px;
    color: white;
    background-color: #1f50ba;
}

.cim > p.kereses {
    flex: 1;
    font-size: 16px;
    font-family: "Arial", "Helvetica", "Helvetica Neue", sans-serif;
}

.musorok {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.musor {
    display: flex;
    padding-bottom: 10px;
    width: calc(50% - 10px);
}

.kep {
    min-width: 360px;
    min-height: 200px;
    background-color: black;
    max-width: 360px;
    max-height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kep .image {
    height: auto;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.reszletek {
    flex: 1;
    max-width: 260px;
    padding: 10px;
    background-color: white;
}

.reszletek > h3 {
    color: white;
    font-size: 20px;
    line-height: 20px;
    font-family: "Arial", "Helvetica", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    margin-bottom: unset;
    padding: 10px;
    background-color: #a7d153;
}

.reszletek > p.leiras {
    color: black;
    padding: 10px;
    line-height: 20px;
}