<div class="content">
  <div class="cim">
    <h2>Keresés</h2>
    <p>{{ epizodok?.length }} találat listázva.</p>
    <div class="rendezes">
      <p>Rendezés</p>
      <div class="kereses select">
        <select [(ngModel)]="filterBy" (change)="sort()">
          <option value="datum" [attr.selected]="filterBy === 'datum' ? true : false"><p>Feltöltés</p></option>
          <option value="cim" [attr.selected]="filterBy === 'cim' ? true : false"><p>Név</p></option>
        </select>
      </div>
      <p>szerint</p>
      <div class="kereses select">
        <select [(ngModel)]="orderBy" (change)="sort()">
          <option value="asc" [attr.selected]="orderBy === 'asc' ? true : false"><p>Növekvő</p></option>
          <option value="desc" [attr.selected]="orderBy === 'desc' ? true : false"><p>Csökkenő</p></option>
        </select>
      </div>
      <p>sorrendben.</p>
    </div>
  </div>
  <div class="cim2">
    <p>Eredmények:</p>
    <div class="felso lapozas">
      <div class="ujabb">
        <span *ngIf="page > 1" (click)="ujabb()"><< Újabb</span>
      </div>
      <div *ngIf="maxPageSize > 1" class="separator"></div>
      <div class="regebbi">
        <span *ngIf="page < maxPageSize" (click)="regebbi()">Régebbi >> </span>
      </div>
    </div>
  </div>

  <div class="videok">

    <div *ngFor="let epizod of filteredEpizodok" class="video" routerLink="/musoraink/{{ epizod?.musor?.url }}/{{ epizod?.url }}">
      <div class="kep">
        <!-- <iframe width="100%" height="100%" [src]="('https://www.youtube.com/embed/' + epizod.youtube) | youtubeEmbed" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
        <img src="https://img.youtube.com/vi/{{ epizod.youtube }}/mqdefault.jpg" alt="{{ epizod.cim }}">
      </div>
      <div class="szoveg">
        <h3 class="szalagcim">{{ epizod.cim }}</h3>
        <div class="tartalom">
          <p>{{ (epizod.leiras.length>6)? (epizod.leiras | slice:0:210)+'...':(epizod.leiras) }}</p>
        </div>
        <div class="datum">
          <p>{{ epizod.datum | datum }}</p>
        </div>
      </div>
    </div>

  </div>

  <div class="lapozas">
    <div class="ujabb">
      <span *ngIf="page > 1" (click)="ujabb()">
        << Újabb</span>
    </div>
    <div class="regebbi">
      <span *ngIf="page < maxPageSize" (click)="regebbi()">Régebbi >> </span>
    </div>
  </div>
</div>