<div class="container">
  <div class="header">
    <a routerLink="/admin">
      <h1>Hegyvidék Televízió Admin</h1>
    </a>

    <a class="button is-danger">Kilépés</a>
  </div>

  <div class="tabs is-toggle is-fullwidth">
    <ul>
      <li routerLinkActive="is-active" class="admin-menu"><a routerLink="/admin/hirek">Hírek</a></li>
      <li routerLinkActive="is-active" class="admin-menu"><a routerLink="/admin/musorok">Műsorok</a></li>
      <li routerLinkActive="is-active" class="admin-menu"><a routerLink="/admin/epizodok">Epizódok</a></li>
      <li routerLinkActive="is-active" class="admin-menu"><a routerLink="/admin/youtube">YouTube</a></li>
      <li routerLinkActive="is-active" class="admin-menu"><a routerLink="/admin/kapcsolat">Kapcsolat</a></li>
    </ul>
  </div>
</div>