<main>
  <section class="content">
    <div class="musorujsag">
      <div class="nap-container">
        <div class="nap">Hétfő</div>
        <div *ngFor="let adas of hetfoiAdasok | sort:'sorrend'" class="adas">
          <div class="ido">
            <p>{{ adas.aktivEttol | ora }}-</p>
            <p>{{ adas.aktivEddig | ora }}</p>
          </div>
          <div class="musor">
            <p>{{ adas.adascim }}</p>
          </div>
        </div>
        <div class="filler adas">
          <div class="ido"></div>
          <div class="musor"></div>
        </div>
      </div>
      <div class="nap-container">
        <div class="nap">Kedd</div>
        <div *ngFor="let adas of keddiAdasok | sort:'sorrend'" class="adas">
          <div class="ido">
            <p>{{ adas.aktivEttol | ora }}-</p>
            <p>{{ adas.aktivEddig | ora }}</p>
          </div>
          <div class="musor">
            <p>{{ adas.adascim }}</p>
          </div>
        </div>
        <div class="filler adas">
          <div class="ido"></div>
          <div class="musor"></div>
        </div>
      </div>
      <div class="nap-container">
        <div class="nap">Szerda</div>
        <div *ngFor="let adas of szerdaiAdasok | sort:'sorrend'" class="adas">
          <div class="ido">
            <p>{{ adas.aktivEttol | ora }}-</p>
            <p>{{ adas.aktivEddig | ora }}</p>
          </div>
          <div class="musor">
            <p>{{ adas.adascim }}</p>
          </div>
        </div>
        <div class="filler adas">
          <div class="ido"></div>
          <div class="musor"></div>
        </div>
      </div>
      <div class="nap-container">
        <div class="nap">Csütörtök</div>
        <div *ngFor="let adas of csutortokiAdasok | sort:'sorrend'" class="adas">
          <div class="ido">
            <p>{{ adas.aktivEttol | ora }}-</p>
            <p>{{ adas.aktivEddig | ora }}</p>
          </div>
          <div class="musor">
            <p>{{ adas.adascim }}</p>
          </div>
        </div>
        <div class="filler adas">
          <div class="ido"></div>
          <div class="musor"></div>
        </div>
      </div>
      <div class="nap-container">
        <div class="nap">Péntek</div>
        <div *ngFor="let adas of pentekiAdasok | sort:'sorrend'" class="adas">
          <div class="ido">
            <p>{{ adas.aktivEttol | ora }}-</p>
            <p>{{ adas.aktivEddig | ora }}</p>
          </div>
          <div class="musor">
            <p>{{ adas.adascim }}</p>
          </div>
        </div>
        <div class="filler adas">
          <div class="ido"></div>
          <div class="musor"></div>
        </div>
      </div>
      <div class="nap-container">
        <div class="nap">Szombat</div>
        <div *ngFor="let adas of szombatiAdasok | sort:'sorrend'" class="adas">
          <div class="ido">
            <p>{{ adas.aktivEttol | ora }}-</p>
            <p>{{ adas.aktivEddig | ora }}</p>
          </div>
          <div class="musor">
            <p>{{ adas.adascim }}</p>
          </div>
        </div>
        <div class="filler adas">
          <div class="ido"></div>
          <div class="musor"></div>
        </div>
      </div>
      <div class="nap-container">
        <div class="nap">Vasárnap</div>
        <div *ngFor="let adas of vasarnapiAdasok | sort:'sorrend'" class="adas">
          <div class="ido">
            <p>{{ adas.aktivEttol | ora }}-</p>
            <p>{{ adas.aktivEddig | ora }}</p>
          </div>
          <div class="musor">
            <p>{{ adas.adascim }}</p>
          </div>
        </div>
        <div class="filler adas">
          <div class="ido"></div>
          <div class="musor"></div>
        </div>
      </div>
    </div>

  </section>
</main>