main {
    display: flex;
    justify-content: center;
}

section.content {
    width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: rgba(255,255,255,0.25);
    margin-top: 180px;
}

.nap-container {
    display: flex;
    flex-direction: column;
}

.nap {
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
    background-color: #1f50ba;
    font-size: 9pt;
    /* line-height: 18px; */
    font-weight: 700;
    font-family: "Arial", "Helvetica", "Helvetica Neue", sans-serif;
    border: 2px solid #1f50ba;
    text-transform: uppercase;
}

.musor {
    flex: 1;
    /* width: 75%; */
    width: 135px;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: black;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    background-color: white;
}

.musor p {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 8pt;
    font-family: "Arial";
    font-style: normal;
    text-align: center;
}

.musorujsag {
    display: flex;
}

.adas {
    display: flex;
}

.filler.adas {
    flex: 1;
}

.ido {
    /* width: 25%; */
    width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #a7d153;
}

.ido p {
    display: flex;
    align-items: center;
    color: white;
    font-size: 8pt;
    /* background-color: #a7d153; */
    font-weight: 700;
    padding: unset;
    margin: unset;
}

.adascim {
    width: 80%;
}

.nolink:hover {
    cursor: default;
}