<div class="musorujsag">
  <div class="fejlec">
    <div class="musorujsag-cim"><p>Műsorújság</p></div>
    <div class="nap"><p>Hétfő</p></div>
    <div class="nap"><p>Kedd</p></div>
    <div class="nap"><p>Szerda</p></div>
    <div class="nap"><p>Csütörtök</p></div>
    <div class="nap"><p>Péntek</p></div>
    <div class="nap"><p>Szombat</p></div>
    <div class="nap"><p>Vasárnap</p></div>
  </div>
  <div class="idosav">
    <div class="elso ido">
      <p>07:00</p></div>
    <div class="musor"><p routerLink="/musoraink/utinform-idojaras">Útinform,<br> Időjárás</p></div>
    <div class="musor"><p routerLink="/musoraink/utinform-idojaras">Útinform,<br> Időjárás</p></div>
    <div class="musor"><p routerLink="/musoraink/utinform-idojaras">Útinform,<br> Időjárás</p></div>
    <div class="musor"><p routerLink="/musoraink/utinform-idojaras">Útinform,<br> Időjárás</p></div>
    <div class="musor"><p routerLink="/musoraink/utinform-idojaras">Útinform,<br> Időjárás</p></div>
    <div class="musor"><p>Ismétlés</p></div>
    <div class="musor"><p>Ismétlés</p></div>
  </div>
  <div class="idosav">
    <div class="ido"><p>10:00</p></div>
    <div class="musor"><p>Ismétlés</p></div>
    <div class="musor"><p>Ismétlés</p></div>
    <div class="musor"><p>Ismétlés</p></div>
    <div class="musor"><p>Ismétlés</p></div>
    <div class="musor"><p>Ismétlés</p></div>
    <div class="musor"><p>Ismétlés</p></div>
    <div class="musor"><p>Ismétlés</p></div>
  </div>
  <div class="idosav">
    <div class="ido"><p>15:00</p></div>
    <div class="musor"><p routerLink="/musoraink/kepujsag">Képújság</p></div>
    <div class="musor"><p routerLink="/musoraink/kepujsag">Képújság</p></div>
    <div class="musor"><p routerLink="/musoraink/kepujsag">Képújság</p></div>
    <div class="musor"><p routerLink="/musoraink/kepujsag">Képújság</p></div>
    <div class="musor"><p routerLink="/musoraink/kepujsag">Képújság</p></div>
    <div class="musor"><p routerLink="/musoraink/kepujsag">Képújság</p></div>
    <div class="musor"><p routerLink="/musoraink/kepujsag">Képújság</p></div>
  </div>
  <div class="idosav">
    <div class="ido"><p>19:00</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
  </div>
  <div class="idosav">
    <div class="ido"><p>20:00</p></div>
    <div class="musor"><p routerLink="/musoraink/hegylako-magazin">Hegylakó <br> Magazin</p></div>
    <div class="musor"><p routerLink="/musoraink/minosegi-ido">Minőségi Idő</p></div>
    <div class="musor"><p routerLink="/musoraink/kulturpont">Kultúrpont</p></div>
    <div class="musor"><p routerLink="/musoraink/lelekemelo">Lélekemelő</p></div>
    <div class="musor"><p routerLink="/musoraink/kek-hirek">Kék Hírek</p></div>
    <div class="sok musor">
      <p routerLink="/musoraink/kommentar-nelkul">Kommentár</p>
      <div class="tobbmusor">
        <span routerLink="/musoraink/kommentar-nelkul">Nélkül</span> / <span routerLink="/musoraink/duett">Duett</span>
      </div>
    </div>
    <div class="musor"><p routerLink="/musoraink/alfa-es-omega">Alfa és Omega</p></div>
  </div>
  <div class="idosav">
    <div class="ido"><p>21:00</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
  </div>
  <div class="idosav">
    <div class="ido"><p>23:00</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
    <div class="musor"><p routerLink="/musoraink/budai-hirado">Budai Híradó</p></div>
  </div>
</div>