<div class="musorujsag">
  <table>
    <thead>
      <tr class="fejlec">
        <th class="musorujsag-cim">Műsorújság</th>
        <th class="nap">Hétfő</th>
        <th class="nap">Kedd</th>
        <th class="nap">Szerda</th>
        <th class="nap">Csütörtök</th>
        <th class="nap">Péntek</th>
        <th class="nap">Szombat</th>
        <th class="nap">Vasárnap</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="ido cella">
          <p>07:00</p>
        </td>
        <td class="cella">Útinform, időjárás</td>
        <td class="cella">Útinform, időjárás</td>
        <td class="cella">Útinform, időjárás</td>
        <td class="cella">Útinform, időjárás</td>
        <td class="cella">Ismétlés</td>
        <td class="cella">Ismétlés</td>
        <td class="cella">Ismétlés</td>
      </tr>
      <tr>
        <td class="ido cella">
          <p>10:00</p>
        </td>
        <td class="cella">Ismétlés</td>
        <td class="cella">Ismétlés</td>
        <td class="cella">Ismétlés</td>
        <td class="cella">Ismétlés</td>
        <td class="cella">Ismétlés</td>
        <td class="cella">Ismétlés</td>
        <td class="cella">Ismétlés</td>
      </tr>
      <tr>
        <td class="ido cella">
          <p>15:00</p>
        </td>
        <td class="cella">Képújság</td>
        <td class="cella">Képújság</td>
        <td class="cella">Képújság</td>
        <td class="cella">Képújság</td>
        <td class="cella">Képújság</td>
        <td class="cella">Képújság</td>
        <td class="cella">Képújság</td>
      </tr>
      <tr>
        <td class="ido cella">
          <p>19:00</p>
        </td>
        <td class="cella">Budai Híradó</td>
        <td class="cella">Budai Híradó</td>
        <td class="cella">Budai Híradó</td>
        <td class="cella">Budai Híradó</td>
        <td class="cella">Budai Híradó</td>
        <td class="cella">Budai Híradó</td>
        <td class="cella">Budai Híradó</td>
      </tr>
      <tr>
        <td class="ido cella">
          <p>20:00</p>
        </td>
        <td class="cella">Hegylakó Magazin</td>
        <td class="cella">Minőségi idő</td>
        <td class="cella">Kultúrpont</td>
        <td class="cella">Lélekemelő</td>
        <td class="cella">Kék hírek</td>
        <td class="cella">Kommentár nélkül / Duett</td>
        <td class="cella">Alfa és Omega</td>
      </tr>
      <tr>
        <td class="ido cella">
          <p>21:00</p>
        </td>
        <td class="cella">Budai Híradó</td>
        <td class="cella">Budai Híradó</td>
        <td class="cella">Budai Híradó</td>
        <td class="cella">Budai Híradó</td>
        <td class="cella">Budai Híradó</td>
        <td class="cella">Budai Híradó</td>
        <td class="cella">Budai Híradó</td>
      </tr>

      <tr>
        <td class="ido cella">
          <p>23:00</p>
        </td>
        <td class="cella">Budai Híradó</td>
        <td class="cella">Budai Híradó</td>
        <td class="cella">Budai Híradó</td>
        <td class="cella">Budai Híradó</td>
        <td class="cella">Budai Híradó</td>
        <td class="cella">Budai Híradó</td>
        <td class="cella">Budai Híradó</td>
      </tr>
    </tbody>
  </table>
</div>