<div class="contents">
  <div class="content">
    <div class="nmhh">
      <img src="./assets/images/NMHH-Hungary.png" alt="NMHH Hungary">
      <p>
        A Hegyvidék Televízió médiaszolgáltatási tevékenységét <br>
        a Médiatanács a Magyar Média Mecenatúra <br>
        program keretében támogatja.
      </p>
    </div>
    <div class="elerhetosegek">
      <div class="social">
        <p>Kövessen bennünket:</p>
        <a href="{{facebookLink}}"><div class="facebook-invert"></div></a>
        <a href="{{youtubeLink}}"><div class="youtube-invert"></div></a>
      </div>
      <div class="szekhely">
        <div class="elerhetoseg">
          <p class="elerhetoseg-cim">Elérhetőség:</p>
        </div>
        <address>
          Hegyvidék Televízió Zrt.<br>
          1122 Budapest, Hajnóczy József utca 2.
        </address>
        <p class="telefon">+36 1 781 1787</p>
      </div>
    </div>
  </div>
  <div class="nevjegy">
    <p>Hegyvidék Televízió {{ev}}. Minden jog fenntartva!</p>
  </div>
</div>