.cim {
    display: flex;
    padding: 10px;
    /* padding-top: 10px; */
    padding-bottom: unset;
    background-color: #1f50ba;
}

h2 {
    font-size: 20px;
    font-family: "Arial", "Helvetica", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    /* padding: 10px; */
    color: white;
    /* border: 2px solid #1f50ba;; */
    margin-bottom: unset;
}

.hir {
    color: black;
    background-color: #1f50ba;
    padding: 10px;
}

.kep {
    display: flex;
}

.szoveg {
    background-color: white;
    padding: 10px;
    padding-top: 5px;
}

h3.szalagcim {
    color: black;
    font-size: 18px;
    margin: unset;
    padding-top: 5px;
    font-family: "Arial", "Helvetica", "Helvetica Neue", sans-serif;
}

.tartalom {
    font-size: 16px;
    line-height: 18px;
}

.datum {
    text-align: right;
}