<div class="cim">
  <h2>Legfrissebb Híreink</h2>
</div>

<div class="hirek">
  <div class="hir">
    <div class="kep">
      <img src="./assets/images/Video1.png" alt="">
    </div>
    <div class="szoveg">
      <h3 class="szalagcim">JÓL HALAD A BÖLCSÖDE BERUHÁZÁS</h3>
      <div class="tartalom">
        <p>Áprilisra elkészül az építkezéssel az önkormányzat Költő utcai bölcsöde beruházása. Ősztől jöhetnek a gyerekek.</p>
      </div>
    </div>
  </div>

  <div class="hir">
    <div class="kep">
      <img src="./assets/images/Video2.png" alt="">
    </div>
    <div class="szoveg">
      <h3 class="szalagcim">JÓL HALAD A BÖLCSÖDE BERUHÁZÁS</h3>
      <div class="tartalom">
        <p>Áprilisra elkészül az építkezéssel az önkormányzat Költő utcai bölcsöde beruházása. Ősztől jöhetnek a gyerekek.</p>
      </div>
    </div>
  </div>

  <div class="hir">
    <div class="kep">
      <img src="./assets/images/Video3.png" alt="">
    </div>
    <div class="szoveg">
      <h3 class="szalagcim">JÓL HALAD A BÖLCSÖDE BERUHÁZÁS</h3>
      <div class="tartalom">
        <p>Áprilisra elkészül az építkezéssel az önkormányzat Költő utcai bölcsöde beruházása. Ősztől jöhetnek a gyerekek.</p>
      </div>
    </div>
  </div>

</div>