<div class="cim">
  <h2>Legfrissebb Híreink</h2>
</div>

<div *ngFor="let epizod of filteredEpizodok" class="hirek">
  <div class="hir">
    <div class="kep">
      <img src="https://img.youtube.com/vi/{{ epizod.youtube }}/mqdefault.jpg" alt="{{ epizod.cim }}">
    </div>
    <div class="szoveg">
      <h3 class="szalagcim">{{ epizod.cim }}</h3>
      <div class="tartalom">
        <p>{{ epizod.leiras }}</p>
      </div>
      <div class="datum">
        <p>{{ epizod.datum | datum }}</p>
      </div>
    </div>
  </div>

</div>