<main>
  <section class="content">
    <!-- <div class="musorujsag">
      <app-musorujsag></app-musorujsag>
    </div> -->
    <div class="musoraink">


      <div class="musorok">

        <a *ngFor="let musor of musorok" [routerLink]="['/musoraink/', musor.url]" class="musor">
          <div class="kep">
            <img [src]="musor.kep" alt="{{ musor.cim }}">
          </div>
          <div class="reszletek">
            <h3>{{ musor.cim }}</h3>
            <p class="leiras">{{ musor.leiras }}</p>
          </div>
        </a>

      </div>
    </div>
  </section>
</main>