<main>
    <section class="content">
        <div class="cim">
          <h2>Médiaajánlat 2018</h2>
        </div>
        <p>A Hegyvidék Tv immár 260.000 háztartásban elérhető Budapesten és az agglomerációban a UPC, Digi, Telekom, Invitel, Hello Digital hálózatán.</p>
        <p><span class="bold">Listáraink:</span> Az árak ÁFA nélkül értendők</p>
        <p class="bold">Hirdetési szolgáltatásaink és áraink:</p>
        <p class="bold">Reklámspot:</p>
        <ol>
          <li>
            <span class="bold">Főműsoridőben 19-22 óra között Budai Híradó és a Hírek előtt illetve után: 600 Ft/ másodperc</span>
            <ul>
              <li>60 másodperces reklámspot sugárzása/alkalom: 36.000 Ft</li>
              <li>30 másodperces reklámspot sugárzása/alkalom: 18.000 Ft</li>
              <li>20 másodperces reklámspot sugárzása/alkalom: 12.000 Ft</li>
            </ul>
          </li>
          <li>
            <span class="bold">Egyéb műsoridőben: 500 Ft/ másodperc</span>
            <ul>
              <li>60 másodperces reklámspot sugárzása/alkalom: 30.000 Ft</li>
              <li>30 másodperces reklámspot sugárzása/alkalom: 15.000 Ft</li>
              <li>20 másodperces reklámspot sugárzása/alkalom: 10.000 Ft</li>
            </ul>
          </li>

          <p class="bold indented">Kedvezmény: 1.000.000 Ft összeg fölötti megrendelés esetén 20 % kedvezmény</p>
          <p class="indented">Reklámspot ill. reklám riport gyártása: 150.000 Ft-tól egyedi igények alapján</p>

          <li>
            <span class="bold">Konferenciák, hosszabb események rögzítése (8 óra forgatási idő): egyedi árajánlat</span>
          </li>
          <li>
            <span class="bold">Műsortámogatás, szponzoráció: 40.000 Ft/alkalom</span>
            <p class="indented">A tematikus magazinműsorok támogatóinak az adott műsor elején-végén, illetve azok ismétléseikor logóval és hangfelmondással készített 5 mp-es reklámjai. Minimum 5 alkalmas megrendelésnél kedvezmény kapható a listaárból.</p>
          </li>
          <li>
            <span class="bold">Reklám ill. PR riport, interjú maximum 2 perc terjedelemben: 60.000 Ft/ sugárzás</span>
          </li>
          <li>
            <span class="bold">Ügyfél érdekű stúdióbeszélgetés / PR beszélgetés: a műsor 3x ismétlésével</span>
            <ul>
              <li>0-4 perc 40.000 Ft</li>
              <li>4-8 perc 60.000 Ft</li>
              <li>8-15 perc 80.000 Ft</li>
            </ul>
          </li>
          <li>
            <span class="bold">Szöveges reklám, fényképes hirdetés valamint mozgó reklámfilm a Képújságban:</span>
            <p class="indented">
              A képújságban lehetőséget biztosítunk a főablakban grafikai, szöveges és fényképes hirdetés valamint mozgó reklámfilm sugárzására egyaránt. <br>
              A képújságban az adott oldalak napi 30-70 alkalommal kerülnek adásba. <br>
              Állóképes hirdetés sugárzás ára: 3 hét hirdetés együttes megrendelése esetén a 4. hét ajándék
            </p>
            <ul>
              <li>1 oldal 10.000 Ft/hét</li>
              <li>2 oldal 15.000 Ft/hét</li>
              <li>3 oldal 20.000 Ft/hét</li>
            </ul>
            <p class="bold">Reklámfilmek sugárzás:</p>
            <ul>
              <li>10 mp 15.000 Ft/hét</li>
              <li>20 mp 20.000 Ft/hét</li>
              <li>30 mp 25.000 Ft/hét</li>
            </ul>
          </li>
          <li>
            <span class="bold">Hegyvidék TV honlapján banner vagy reklám elhelyezése:</span>
            <p class="indented">A www.hegyvidektv.hu weboldalunkon élőben nézhető a HTV műsora. A honlapunkon található archívumban korábbi műsorok nézhetők vissza.</p>
            <ul>
              <li>Standard banner címoldalon és minden belső oldalon a jobb oldali sávban 15.000,- Ft / hét</li>
              <li>Flash formátumú layer-banner (felugró ablak) 4 mp késleltetéssel 90.000,- Ft/ hét</li>
            </ul>
            <p class="indented">A bannerkészítés ára az egyedi igények figyelembevételével alakul.</p>
          </li>
        </ol>

        <p class="bold last">További egyeztetésért, egyedi árajánlat kidolgozásáért kérjük, forduljon hozzánk bizalommal elérhetőségeink valamelyikén!</p>
    </section>
</main>