main {
    display: flex;
    justify-content: center;
}

section.content {
    width: 1280px;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 10px 160px;
    padding-bottom: 60px;
    background-color: rgba(255,255,255,0.25);
    margin-top: 180px;
}

.cim {
    display: flex;
    color: #1f50ba;
    padding: 20px 0;
}

h2 {
    color: #1f50ba;
    font-size: 20px;
    font-family: "Arial", "Helvetica", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 2px solid #1f50ba;
    margin-bottom: unset;
    font-weight: normal;
}

h4 {
    text-align: center;
    font-weight: bold;
    color: black;
}

.content p {
    margin-bottom: unset;
}

.bold {
    font-weight: bold;
}

.indented {
    margin-left: 2em;
}

p {
    padding: 10px 0;
}

ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

ol > li {
  margin: 0;
  padding: 10px 0 10px 0;
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

ul {
    margin-top: unset;
    padding: 10px 0;
}

ul > li {
    margin-left: 2em;
}

p.bold.last {
    padding: unset;
}

.contact span {
    text-align: center;
    display: block;
    font-style: italic;
}

.contact span a {
    font-style: normal;
}

.underline {
    text-decoration: underline;
}