main {
    display: flex;
    justify-content: center;
}

section.content {
    width: 1280px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: rgba(255,255,255,0.25);
    margin-top: 195px;
}

section.main {
    width: 880px;
}

aside {
    width: 400px;
}

app-kiemelt-videok {
    background-color: #a7d153;
}