main {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

section.content {
    width: 1280px;
    display: flex;
}

section.main {
    width: 880px;
}

aside {
    width: 400px;
}

app-kiemelt-videok {
    background-color: #a7d153;
}