main {
    display: flex;
    justify-content: center;
}

section.content {
    width: 1280px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: rgba(255,255,255,0.25);
    margin-top: 180px;
    display: flex;
    justify-content: center;
}

section.main {
    width: 1136px;
}

.field.is-grouped {
    margin-bottom: 1rem;
}

.button.is-success {
    width: 100%;
}