<div class="facebook-feed">
    <div class="fb-page" data-href="https://www.facebook.com/hegyvidektelevizio" data-tabs="timeline" data-width="400" data-height="215" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/hegyvidektelevizio" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/hegyvidektelevizio">Hegyvidék Televízió HTV</a></blockquote></div>
</div>

<div class="youtube-sub">
  <div class="yt-logo">
    <img class="htv-youtube" src="./assets/images/hegyvidek-youtube-logo.jpg" alt="HegyvidekTV Youtube logo">
  </div>
  <div class="tartalom">
    <p class="csatorna-nev">Hegyvidék TV</p>
    <p>Kövesse csatornánkat, hogy értesítést kapjon a friss videókról.</p>
    <div class="g-ytsubscribe" data-channel="hegyvidektv" data-layout="default" data-count="default"></div>
  </div>
</div>